html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map, #pano {
  float: left;
  height: 80%;
  width: 50%;
}

#submit-btn {
  margin-top: 50px;
  margin-left: 50px;
  width: 100px;
  height: 30px;
}